# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env

# Models & Data
backend/saved_models/*.keras
backend/saved_models/*.h5
*.csv
*.dat

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS & IDEs
.DS_Store
.vscode/
.idea/